.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}
.blue{
    background-color: blue;
}
.lightpink{
    background-color: lightpink;
}
.bold{
    font-weight:bold;
}